body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter-Bold';
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Inter-Bold';
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter-Regular';
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter-Bold';
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter-Regular';
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0d6efd !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0149b2 !important;
  border-color: #0149b2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0149b2 !important;
  border-color: #0149b2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6a737b !important;
  border-color: #6a737b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #42474c !important;
  border-color: #42474c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #42474c !important;
  border-color: #42474c !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0d6efd;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0149b2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6a737b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #42474c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6a737b !important;
  border-color: #6a737b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0d6efd !important;
}
.text-secondary {
  color: #6a737b !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0143a3 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #3b4044 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0d6efd;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0d6efd;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d7e7ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter-Regular';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0d6efd !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter-Regular';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #0d6efd;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0d6efd;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0d6efd;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0d6efd;
  border-bottom-color: #0d6efd;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0d6efd !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #6a737b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230d6efd' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTM1GofVA5 {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #e3ebf3;
}
.cid-sTM1GofVA5 .mbr-section-title {
  color: #353535;
}
.cid-sTM1GofVA5 .mbr-text,
.cid-sTM1GofVA5 .mbr-section-btn {
  color: #353535;
}
.cid-sTRfzEb81i {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-sTRfzEb81i .container {
    max-width: 1400px;
  }
}
.cid-sTRfzEb81i .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #0d6efd;
  margin-bottom: 2rem;
}
.cid-sTRfzEb81i .card-wrapper {
  margin-top: 3rem;
}
.cid-sTRfzEb81i .row {
  justify-content: center;
}
.cid-sTReKuhinJ {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sTReKuhinJ .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sTReKuhinJ .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sTReKuhinJ .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sTReKuhinJ .mbr-section-title {
  text-align: left;
}
.cid-sTReKuhinJ .mbr-text,
.cid-sTReKuhinJ .mbr-section-btn {
  text-align: left;
}
.cid-sTRg9Cht7d {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sTRg9Cht7d .row {
  flex-direction: row-reverse;
}
.cid-sTRg9Cht7d .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sTRg9Cht7d .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sTRg9Cht7d .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sTRg9Cht7d .mbr-section-title {
  text-align: right;
}
.cid-sTRg9Cht7d .mbr-text,
.cid-sTRg9Cht7d .mbr-section-btn {
  text-align: right;
}
.cid-sTMbBRvZvD {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTMU1lXSA6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTMcEFJ79m {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTMcEFJ79m .mbr-section-title {
  color: #353535;
}
.cid-sTMcEFJ79m .mbr-text,
.cid-sTMcEFJ79m .mbr-section-btn {
  color: #353535;
}
.cid-sTMcEFJ79m .btn {
  border-radius: 4px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-sTMeBqJhFa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTMeBqJhFa blockquote {
  border-color: #0d6efd;
  border-radius: 4px;
  background-color: #e3ebf3;
}
.cid-sTMeBqJhFa a {
  font-style: italic;
}
.cid-sTMeBqJhFa li {
  font-family: Inter-Regular;
}
.cid-sTMcEFYwuv {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTMU1lXSA6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTN2gPtOxK {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTN2gPtOxK .mbr-section-title {
  color: #353535;
}
.cid-sTN2gPtOxK .mbr-text,
.cid-sTN2gPtOxK .mbr-section-btn {
  color: #353535;
}
.cid-sTN2gPtOxK .btn {
  border-radius: 4px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-sTN2gPTg8D {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTN2gPTg8D blockquote {
  border-color: #0d6efd;
  border-radius: 4px;
  background-color: #e3ebf3;
}
.cid-sTN2gQ8ncs {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTMU1lXSA6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTNk30UtmK {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTNk30UtmK .mbr-section-title {
  color: #353535;
}
.cid-sTNk30UtmK .mbr-text,
.cid-sTNk30UtmK .mbr-section-btn {
  color: #353535;
}
.cid-sTNk30UtmK .btn {
  border-radius: 4px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-sTNk31pNVW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTNk31pNVW blockquote {
  border-color: #0d6efd;
  border-radius: 4px;
  background-color: #e3ebf3;
}
.cid-sTNk31PXi9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTMU1lXSA6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTNpSS9B1Y {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTNpSS9B1Y .mbr-section-title {
  color: #353535;
}
.cid-sTNpSS9B1Y .mbr-text,
.cid-sTNpSS9B1Y .mbr-section-btn {
  color: #353535;
}
.cid-sTNpSS9B1Y .btn {
  border-radius: 4px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-sTNq7HcI4d {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTNq7HcI4d .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sTNq7HcI4d .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNq7HcI4d .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sTNq7HcI4d .mbr-section-title {
  text-align: left;
}
.cid-sTNq7HcI4d .mbr-text,
.cid-sTNq7HcI4d .mbr-section-btn {
  text-align: left;
}
.cid-sTNpSSDkJt {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTMU1lXSA6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTM0ikR8Po {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTM0ikR8Po nav.navbar {
  position: fixed;
}
.cid-sTM0ikR8Po .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTM0ikR8Po .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTM0ikR8Po .dropdown-item:hover,
.cid-sTM0ikR8Po .dropdown-item:focus {
  background: #0d6efd !important;
  color: white !important;
}
.cid-sTM0ikR8Po .dropdown-item:hover span {
  color: white;
}
.cid-sTM0ikR8Po .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTM0ikR8Po .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTM0ikR8Po .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTM0ikR8Po .nav-link {
  position: relative;
}
.cid-sTM0ikR8Po .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sTM0ikR8Po .container {
    flex-wrap: nowrap;
  }
}
.cid-sTM0ikR8Po .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown-menu,
.cid-sTM0ikR8Po .navbar.opened {
  background: #363e46 !important;
}
.cid-sTM0ikR8Po .nav-item:focus,
.cid-sTM0ikR8Po .nav-link:focus {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTM0ikR8Po .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTM0ikR8Po .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTM0ikR8Po .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTM0ikR8Po .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.opened {
  transition: all 0.3s;
}
.cid-sTM0ikR8Po .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTM0ikR8Po .navbar .navbar-logo img {
  width: auto;
}
.cid-sTM0ikR8Po .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar.collapsed {
  justify-content: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTM0ikR8Po .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTM0ikR8Po .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTM0ikR8Po .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTM0ikR8Po .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTM0ikR8Po .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTM0ikR8Po .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTM0ikR8Po .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTM0ikR8Po .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTM0ikR8Po .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTM0ikR8Po .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTM0ikR8Po .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTM0ikR8Po .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTM0ikR8Po .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTM0ikR8Po .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTM0ikR8Po .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTM0ikR8Po .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTM0ikR8Po .dropdown-item.active,
.cid-sTM0ikR8Po .dropdown-item:active {
  background-color: transparent;
}
.cid-sTM0ikR8Po .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTM0ikR8Po .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #363e46;
}
.cid-sTM0ikR8Po .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTM0ikR8Po .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTM0ikR8Po ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTM0ikR8Po .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTM0ikR8Po button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTM0ikR8Po button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTM0ikR8Po nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTM0ikR8Po .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTM0ikR8Po a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTM0ikR8Po .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTM0ikR8Po .navbar {
    height: 70px;
  }
  .cid-sTM0ikR8Po .navbar.opened {
    height: auto;
  }
  .cid-sTM0ikR8Po .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTR73r4Xd5 {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTR73r4Xd5 .mbr-section-title {
  color: #353535;
}
.cid-sTR73r4Xd5 .mbr-text,
.cid-sTR73r4Xd5 .mbr-section-btn {
  color: #353535;
}
.cid-sTR73r4Xd5 .btn {
  border-radius: 4px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-sTR7UZoOAa {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTR7UZoOAa .searchvalue {
  width: 70%;
  max-width: 720px;
  display: inline-block;
}
.cid-sTR7UZoOAa button {
  display: inline-block;
}
.cid-sTR7UZoOAa .btn,
.cid-sTR7UZoOAa .btn-primary {
  display: inline-block;
  height: 50px !important;
}
.cid-sTR7UZoOAa p {
  display: block;
  font-size: 10.5px;
  padding-top: 7px;
}
.cid-sTR9e5iPNV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e3ebf3;
}
.cid-sTR9e5iPNV .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #0d6efd;
  margin-bottom: 2rem;
}
.cid-sTR9e5iPNV .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-sTR9w7QQgr {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sTR9w7QQgr ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-sTR9w7QQgr li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-sTR9w7QQgr ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #0d6efd;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-sTR73rEtyZ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #363e46;
  overflow: hidden;
}
.cid-sTR73rYlU1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
