@font-face {
   font-family: 'Inter-Bold';
   font-display: swap;
   src: url('Inter-Bold/font.ttf');
}
@font-face {
   font-family: 'Inter-Regular';
   font-display: swap;
   src: url('Inter-Regular/font.ttf');
}
